@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.weather-bounce {
    animation: bounce 1.5s infinite alternate;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-18px) scale(1.08);
    }
}

.fade-in {
    opacity: 0;
    animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.card-hover {
    transition: transform 0.3s, box-shadow 0.3s;
}

.card-hover:hover {
    transform: scale(1.07) translateY(-4px);
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.18);
}

.shiny-text {
    background: linear-gradient(90deg, #fff 0%, #ffe066 40%, #ffd700 60%, #fff 100%);
    background-size: 200% auto;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    animation: shine 2s linear infinite;
    font-size: 44px;
    font-weight: 900;
}

@keyframes shine {
    to {
        background-position: 200% center;
    }
}

.electric-border {
    position: relative;
    z-index: 1;
    border-radius: 1.5rem;
    overflow: hidden;
}

.electric-border::before {
    content: "";
    position: absolute;
    inset: -3px;
    z-index: -1;
    border-radius: inherit;
    padding: 2px;
    background: linear-gradient(120deg, #f1d56641, #ffd90049, #00eeff33, #ffe0662d, #ffd9005b, #00eeff38);
    background-size: 400% 400%;
    animation: electric 7s linear infinite;
}

@keyframes electric {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}